*{
  margin:0;
 padding:0;
 box-sizing: border-box;

}

body{
    height:100%;
    width:100%;
}


.container{
    height:100%;
    width:100%;
    background-color: cadetblue;
    display: grid;
    gap:0.4rem;
    grid-template-rows: repeat(4,200px);
    grid-template-columns: repeat(1,1fr);
    padding:4rem;
    border:3px solid purple;
    
   

}


.item{
    height:100px;
    width:100px;
    background-color: red;
    border:5px solid black;
    justify-self: end;
}