@import url("https://fonts.googleapis.com/css2?family=Amita:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.signin-page {
  min-height: 100dvh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3rem 0;
  gap: 3rem;
}

.signin-image,
.signin-page-container {
  width: 28rem;
}

.signin-image {
  
  height: 100% !important;
}

.signin-page-container {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.top,
.footer {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  border: 2px solid rgb(243, 240, 240);
  padding: 2rem 1.5rem;
  border-radius: 0.5rem;
}

.footer {
  padding: 1rem 0 !important;
}

.heading h1 {
  font-family: "Amita", cursive;
  font-size: 2.5rem;
}

.signin-inputs {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.signin-inputs input {
  width: 100%;
  padding: 1rem;
  border-radius: 4px;
  border: 2px solid rgb(231, 231, 231);
  outline: none;
  font-size: 1rem;
}

.signin-inputs > button {
  background-color: #0530f1;
  border: none;
  padding: 1rem 2rem;
  font-size: 1rem;
  color: white;
  font-weight: 700;
  border-radius: 0.3rem;
  cursor: pointer;
}

.line {
  display: flex;
  justify-content: center;
  align-items: center;
}

.line hr {
  margin: 10px;
  width: 100%;
}

.line span {
  font: 0.75rem;
  font-weight: 500;
  opacity: 0.8;
}

.social-login {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.social-login p {
  font-size: 1rem;
}

.fa {
  font-size: 22px;
}

.social-login-facebook {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
  color: #007bfc !important;
}

.social-login a {
  font-size: 0.9rem;
  text-decoration: none;
  color: black;
}

.social-login a:hover {
  text-decoration: underline;
}

.social-login-facebook span {
  font-weight: 500;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.buttons button {
  overflow: hidden;
  border-radius: 0.3rem;
}

.footer p {
  font-size: 0.9rem;
}

.app {
  display: flex;
  flex-direction: column;
  gap: 1rem !important;
  padding: 0.5rem 0;
}

.app-heading {
  font-size: 0.9rem;
}

#google,
#microsoft {
  height: 1.7rem;
  width: 1.7rem;
}

.google-play,
.microsoft-logo {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}

.google-play {
  display: flex;
  background-color: black;
  color: rgb(221, 200, 200);
  height: 50px;
  padding: 10px;
  font-size: 13px;
}

.microsoft-logo {
  display: flex;
  background-color: black;
  color: rgb(221, 200, 200);
  height: 50px;
  font-size: 13px;
  padding: 10px;
}
